
@import './scss//reset.scss';

.App {
  text-align: center;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1.2rem;
}
.templates {
  height: 300px;
  width: 200px;
  margin: 20px;
  cursor: pointer;
}
.process-logos {
  display: flex;
  justify-content: space-around; 
  padding: 20px;
}
.fas {
  font-size: 50px;
  color: white;
}
.input-box {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 0 20px;
}
.textarea-box {
  width: 350px;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
  height: 100px;
}
.btn {
  padding: 8px 16px; 
  color: white;
  font-size: 1.1rem;
  border: 1px rgb(184, 179, 179);
  margin: 5px;
  cursor: pointer;
  box-shadow: 0 1px 7px .5px gray;
}
.next-btn {
  background: #eb7f82;
}
.submit-btn {
  background:#008686;
}
.save-btn {
  background: 	#00cabe;
}
.btn:hover {
  box-shadow: 0 1px 5px 2px gray;
}

